<!doctype html>
<html lang="en">
<head>
    <title>Entries</title>
</head>
<body>
    <a href="{{ url_for('index') }}">Add Entry</a>
    <a href="{{ url_for('logout') }}">Logout</a>
    <h2>All Entries</h2>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Price</th>
            <th>Payment Method</th>
            <th>Reason</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.date }}</td>
            <td>{{ entry.price }}</td>
            <td>{{ entry.payment_method }}</td>
            <td>{{ entry.payment_reason }}</td>
            <td>{{ entry.user.username }}</td>
            <td>
                <a href="{{ url_for('update_entry', entry_id=entry.id) }}">Edit</a> |
                <a href="{{ url_for('delete_entry', entry_id=entry.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
