<!doctype html>
<html lang="en">
<head>
    <title>Add Entry</title>
</head>
<body>
    <a href="{{ url_for('logout') }}">Logout</a>
    <h2>Add New Entry</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.date.label }} {{ form.date() }} <br>
        {{ form.price.label }} {{ form.price() }} <br>
        {{ form.payment_method.label }} {{ form.payment_method() }} <br>
        {{ form.payment_reason.label }} {{ form.payment_reason() }} <br>
        {{ form.submit() }}
    </form>
    <br>
    <a href="{{ url_for('entries') }}">See All Entries</a>
</body>
</html>
